name: test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: Test ${{ matrix.os }}; py ${{ matrix.python-version }}; CP2K ${{ matrix.cp2k }}; gcc ${{ matrix.gcc }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.9"]
        gcc: [7, 8, 9, 10, 11]
        cp2k: ["8.2"]
        include:
          - os: ubuntu-latest
            python-version: "3.8"
            gcc: default
            cp2k: "8.2"
          - os: ubuntu-latest
            python-version: "3.10"
            gcc: default
            cp2k: "8.2"
          - os: ubuntu-18.04
            python-version: "3.9"
            gcc: 5
            cp2k: "8.2"
          - os: ubuntu-18.04
            python-version: "3.9"
            gcc: 6
            cp2k: "8.2"
          - os: ubuntu-latest
            python-version: "3.9"
            gcc: default
            cp2k: "6.1"
          - os: ubuntu-latest
            python-version: "3.9"
            gcc: default
            cp2k: "7.1"
    env:
      CP2K_DATA_DIR: /usr/share/cp2k/data

    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@0.9.1
      with:
        access_token: ${{ github.token }}

    - uses: actions/checkout@v2

    - name: Install CP2K
      run: |
        version="${{ matrix.cp2k }}"
        version_long=v"${{ matrix.cp2k }}".0

        git clone https://github.com/cp2k/cp2k
        cd cp2k
        git checkout tags/$version_long
        ln -s data /usr/share/cp2k

        wget -nv https://github.com/cp2k/cp2k/releases/download/$version_long/cp2k-$version-Linux-x86_64.ssmp -O cp2k.ssmp
        chmod u+rx cp2k.ssmp
        mv cp2k.ssmp /usr/local/bin/cp2k.popt

    - name: Info CP2K
      run: cp2k.popt --version

    - name: Install GCC
      if: matrix.gcc != 'default'
      uses: egor-tensin/setup-gcc@v1
      with:
        version: ${{ matrix.gcc }}
        platform: x64

    - name: Info GCC
      run: gcc --version

    - name: Setup conda
      uses: s-weigand/setup-conda@v1
      with:
        update-conda: true
        conda-channels: anaconda, conda-forge

    - name: Install dependencies
      run: |
        case ${{ matrix.gcc }} in
          5|6)
            conda create -n test -c conda-forge python=${{ matrix.python-version }} boost eigen=3.3 libint==2.6.0 highfive ;;
          *)
            conda create -n test -c conda-forge python=${{ matrix.python-version }} boost eigen libint==2.6.0 highfive ;;
        esac

        source $CONDA/bin/activate test
        pip install -r ./test_requirements.txt

    - name: Conda info
      run: |
        source $CONDA/bin/activate test
        conda info

    - name: Conda list
      run: conda list -n test

    - name: Install the package
      run: |
        source $CONDA/bin/activate test
        pip install -e . -vvv

    - name: Test with pytest
      run: |
        source $CONDA/bin/activate test
        pytest -m "not (slow or long)"

    - name: coverage
      uses: codecov/codecov-action@v2
      with:
        file: ./coverage.xml
        name: codecov-umbrella
